# Default ignored files
/../../IVIF-Degradation-Simulator /.idea/shelf/
/../../IVIF-Degradation-Simulator /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../IVIF-Degradation-Simulator /.idea/httpRequests/
# Datasource local storage ignored files
/../../IVIF-Degradation-Simulator /.idea/dataSources/
/../../IVIF-Degradation-Simulator /.idea/dataSources.local.xml
